.contact {
    height: 100vh;;
    padding: 60px 20px 70px;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form label {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #001f88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0044cc;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0 20px;
      margin-top: 30px;
    }

    .contact-form input,
    .contact-form textarea {
      max-width: 90%;
      padding: 10px;
      margin-top: 10px;
      font-size: 1.3em;
    }
    
    .contact-form button {
      padding: 10px 20px;
      font-size: 1.2em;
    }
     
    h2 {
      font-size: 1.5em;
    }
    
    .container p {
      font-size: 1.3rem;
      line-height: 2;
    }
  }
  